//header
.c-header {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
}
.navbar {
  .navbar-brand,
  .nav-link {
    color: white;
    transition: 0.5s;
  }
  .nav-item {
    margin: 0 10px;
    &::after {
      content: "";
      width: 0;
      height: 2px;
      background-color: #35a22c;
      display: block;
      transition: all 0.5s;
    }
    &:hover {
      .nav-link {
        color: #35a22c;
      }
      &::after {
        width: 100%;
      }
    }
  }
  .nav-item.active {
    .nav-link {
      color: #35a22c;
    }
    &::after {
      width: 100%;
    }
  }
}
//carousel
#myCa {
  .carousel-item {
    height: 100vh;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(39, 43, 54, 0.5);
    }
  }
  .carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
    img {
      width: 140px;
      border-radius: 50%;
      margin: auto;
    }
  }
  .carousel-indicators {
    li {
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: none;
    }
    li.active {
      background-color: #35a22c;
    }
  }
}
//project
.c-project {
  &__title {
    max-width: 750px;
  }
  .nav {
    justify-content: center;
  }
  .nav-pills {
    .nav-link {
      color: #1a1d2d;
      border: 1px solid #1a1d2d;
      margin: 0 5px;
    }
    .nav-link.active {
      color: #fff;
      background-color: #35a22c;
      border-color: #35a22c;
    }
  }
  &__item {
    margin-top: 30px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 0.4rem rgb(0 0 0 / 13%);
    border: none;
    cursor: pointer;
    .card-body{
      border: 1px solid transparent;
      border-radius: 0 0 1rem 1rem;
      transition: all .5s;
      h5{
        transition: all .5s;
      }
    }
    &:hover {
      .card-body {
        border-color: #35a22c;
        border-top-color: transparent;
      }
      h5{
        color: #35a22c;
      }
    }
  }
}
//experience
.c-experience{
  background-image: url(../img/3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
  }
  &__title {
    position: relative;
    max-width: 750px;
  }
}
