.c-header {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: white;
  transition: 0.5s;
}
.navbar .nav-item {
  margin: 0 10px;
}
.navbar .nav-item::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #35a22c;
  display: block;
  transition: all 0.5s;
}
.navbar .nav-item:hover .nav-link {
  color: #35a22c;
}
.navbar .nav-item:hover::after {
  width: 100%;
}
.navbar .nav-item.active .nav-link {
  color: #35a22c;
}
.navbar .nav-item.active::after {
  width: 100%;
}

#myCa .carousel-item {
  height: 100vh;
}
#myCa .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 43, 54, 0.5);
}
#myCa .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
#myCa .carousel-caption img {
  width: 140px;
  border-radius: 50%;
  margin: auto;
}
#myCa .carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: none;
}
#myCa .carousel-indicators li.active {
  background-color: #35a22c;
}

.c-project__title {
  max-width: 750px;
}
.c-project .nav {
  justify-content: center;
}
.c-project .nav-pills .nav-link {
  color: #1a1d2d;
  border: 1px solid #1a1d2d;
  margin: 0 5px;
}
.c-project .nav-pills .nav-link.active {
  color: #fff;
  background-color: #35a22c;
  border-color: #35a22c;
}
.c-project__item {
  margin-top: 30px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.13);
  border: none;
  cursor: pointer;
}
.c-project__item .card-body {
  border: 1px solid transparent;
  border-radius: 0 0 1rem 1rem;
  transition: all 0.5s;
}
.c-project__item .card-body h5 {
  transition: all 0.5s;
}
.c-project__item:hover .card-body {
  border-color: #35a22c;
  border-top-color: transparent;
}
.c-project__item:hover h5 {
  color: #35a22c;
}

.c-experience {
  background-image: url(../img/3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
.c-experience::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.c-experience__title {
  position: relative;
  max-width: 750px;
}/*# sourceMappingURL=index.css.map */